@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jacques Francois Shadow';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/JacquesFrancoisShadow-Regular.ttf') format('truetype');
}

body {
  background: linear-gradient(-45deg, #000000, #2e2528, #000000, #59857a);
  /* background-size: 400% 400%; */
  background-size: 200% 200%;
  animation: gradient 40s ease infinite;
  min-height: 100vh;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Poppins';
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}


/* #style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: none;
}

#style-2::-webkit-scrollbar {
    width: 10px;
    background-color: #2e2528;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #59857a;
} */